<table border="1" cellpadding="2px" style="font-size:12px; border-color:rgba(255,255,255,0.2); border-style: solid; border-collapse: collapse;">
    <tr style="color: #3067bf; text-align: center;">
        <th>Exchange</th>
        <th>Pair</th>
        <th>Last</th>
        <th>Index</th>
<!--        <th>Mark</th>-->
        <th>Index Basis</th>
<!--        <th>Mark kairi</th>-->
        <th>FR</th>
        <th>Next FR</th>
        <th>L/S Ratio</th>
    </tr>
    {% for row in data %}
        <tr style="color: rgba(255,255,255,0.8);">
            <td>{{row['exchange']}}</td>
            <td>{{row['symbol']}}</td>

            {% if row['last_price'] is none %}
                <td style="text-align:center;">-</td>
            {% else %}
                <td style="text-align:right;">{{row['last_price']}}</td>
            {% endif %}

            {% if row['index_price'] is none %}
                <td style="text-align:center;">-</td>
            {% else %}
                <td style="text-align:right;">{{row['index_price']}}</td>
            {% endif %}

<!--            {% if row['mark_price'] is none %}-->
<!--                <td style="text-align:center;">-</td>-->
<!--            {% else %}-->
<!--                <td style="text-align:right;">{{row['mark_price']}}</td>-->
<!--            {% endif %}-->

            {% if row['index_price_kairi_pct'] is none %}
                <td style="text-align:center;">-</td>
            {% elif row['index_price_kairi_pct'] == 0 %}
                <td style="text-align:right;">{{row['index_price_kairi_pct']}}%</td>
            {% elif row['index_price_kairi_pct'] > 0 %}
                <td style="background:rgba(0,255,0,0.1); text-align:right;">{{row['index_price_kairi_pct']}}%</td>
            {% elif row['index_price_kairi_pct'] < 0 %}
                <td style="background:rgba(255,0,0,0.1); text-align:right;">{{row['index_price_kairi_pct']}}%</td>
            {% endif %}

<!--            {% if row['mark_price_kairi_pct'] is none %}-->
<!--                <td style="text-align:center;">-</td>-->
<!--            {% elif row['mark_price_kairi_pct'] == 0 %}-->
<!--                <td style="text-align:right;">{{row['mark_price_kairi_pct']}}%</td>-->
<!--            {% elif row['mark_price_kairi_pct'] > 0 %}-->
<!--                <td style="background:rgba(0,255,0,0.1); text-align:right;">{{row['mark_price_kairi_pct']}}%</td>-->
<!--            {% elif row['mark_price_kairi_pct'] < 0 %}-->
<!--                <td style="background:rgba(255,0,0,0.1); text-align:right;">{{row['mark_price_kairi_pct']}}%</td>-->
<!--            {% endif %}-->

            {% if row['funding_rate_pct'] is none %}
                <td style="text-align:center;">-</td>
            {% elif row['funding_rate_pct'] == 0 %}
                <td style="text-align:right;">{{row['funding_rate_pct']}}%</td>
            {% elif row['funding_rate_pct'] > 0 %}
                <td style="background:rgba(0,255,0,0.1); text-align:right;">{{row['funding_rate_pct']}}%</td>
            {% elif row['funding_rate_pct'] < 0 %}
                <td style="background:rgba(255,0,0,0.1); text-align:right;">{{row['funding_rate_pct']}}%</td>
            {% endif %}

            {% if row['next_funding_rate_pct'] is none %}
                <td style="text-align:center;">-</td>
            {% elif row['next_funding_rate_pct'] == 0 %}
                <td style="text-align:right;">{{row['next_funding_rate_pct']}}%</td>
            {% elif row['next_funding_rate_pct'] > 0 %}
                <td style="background:rgba(0,255,0,0.1); text-align:right;">{{row['next_funding_rate_pct']}}%</td>
            {% elif row['next_funding_rate_pct'] < 0 %}
                <td style="background:rgba(255,0,0,0.1); text-align:right;">{{row['next_funding_rate_pct']}}%</td>
            {% endif %}

            {% if row['long_short_ratio'] is none %}
                <td style="text-align:center;">-</td>
            {% elif row['long_short_ratio'] == 1 %}
                <td style="text-align:right;">{{row['long_short_ratio']}}</td>
            {% elif row['long_short_ratio'] > 1 %}
                <td style="background:rgba(0,255,0,0.1); text-align:right;">{{row['long_short_ratio']}}</td>
            {% elif row['long_short_ratio'] < 1 %}
                <td style="background:rgba(255,0,0,0.1); text-align:right;">{{row['long_short_ratio']}}</td>
            {% endif %}

        </tr>
    {% endfor %}
</table>